h2#fc-dom-1 {
    @apply text-xl font-bold;
}

.fc-button-group {
    button.fc-button.fc-button-primary.fc-button-active {
        @apply pagination-link-active min-w-[58px];
    }
    button.fc-button.fc-button-primary {
        @apply pagination-link-normal min-w-[58px];
        &:active {
            @apply pagination-link-normal;
        }
    }
}

a.fc-event {
    @apply rounded-sm cursor-pointer border border-solid pl-1;
    --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05) !important;
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color) !important;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important;
    &:hover {
        @apply opacity-75;
    }
    .fc-event-time {
        @apply hidden;
    }
}

.fc-timegrid-slot {
    @apply cursor-pointer;
}

.pill-key {
    @apply w-[15px] h-[15px] mr-[4px];
}

.select2-selection__choice__display {
    @apply flex items-center;
}

.fc-view-harness {
    @apply bg-white shadow;
}

.cancelled-meeting {
    opacity: 0.5 !important;
    
    .fc-event-main {
        &::before {
            @apply w-[110%] h-[1px] bg-black absolute top-1/2 left-0 -translate-y-1/2 -translate-x-[5%];
            content: '';
        }
        &::after {
            content: 'Cancelled';
            @apply absolute bottom-2 right-0 text-[10px] text-black;
        }
    }
}