table {
    @apply w-full divide-y-2 divide-black dark:divide-white table-auto;

    tbody {
        @apply divide-y divide-black dark:divide-white;

        tr {
            @apply hover:bg-orange hover:text-white cursor-pointer hover:shadow-inner;
        }
    }

    th {
        @apply px-3 py-3 text-left text-sm font-bold;
    }
    td {
        @apply whitespace-nowrap text-sm;

        a {
            @apply block w-full h-full px-3 py-2;
        }
    }

    caption {
        @apply text-lg pb-2 text-left text-black dark:text-orange;
    }
}

.vertical-lines {
    @apply border-l border-r border-b border-black dark:border-white;
    td, th {
        @apply border-l border-r border-black dark:border-white;
    }
    td {
        @apply px-3 border-dotted;
    }
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}