.index-table {
    @apply w-full bg-lightgray shadow rounded-sm mb-3;

    thead, th {
        @apply text-sm font-semibold text-left bg-lightgray;
    }

    tr:nth-child(odd) {
        @apply bg-gray;
    }

    th, td {
        @apply py-2 px-4 whitespace-nowrap;
    }
}

.pagination-link {
    @apply relative inline-flex items-center justify-center px-2 py-2 text-sm font-medium border border-gray
    leading-5 w-[38px] h-[38px];
    &-normal {
        @apply pagination-link cursor-pointer bg-lightgray hover:bg-orange hover:text-white text-darkgray;
    }
    &-inactive {
        @apply pagination-link text-[#afafaf] cursor-default bg-lightgray;
    }
    &-active {
        @apply pagination-link text-white bg-orange cursor-default;
    }
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}